$primary-color: rgb(255, 223, 228);
$secondary-color: rgb(255, 83, 112);

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div {
    border: 0.5px solid $secondary-color;
    margin-top: 10px;
}

.details {
    width: 500px;  
}

.edit {
    width: 700px;
    height: 150px;
}
