<div class="container">
    <div class="inputs">
        <!-- Dodawanie wydarzenia - pole obecne w kazdym dniu takie samo -->
        <input type='time' [(ngModel)]="newEvent.hour" ><input type='text' [(ngModel)]="newEvent.content" ><button (click)='addEvent()'>Add event</button>
    </div><br>

    <div class="hoursAndEvents">
        <table class="table">
            <thead>
                <tr>
                  <th>Hour</th>
                  <th>Content</th>
                  <th>Options</th>
                </tr>
            </thead>
            <tbody *ngIf='showEvents()'>
                <tr *ngFor="let dayEvent of eventsArray">
                    <td>{{dayEvent.hour}}</td>
                    <td>{{dayEvent.content}}</td>
                    <td><button (click)='remove(dayEvent)'>X</button> &nbsp; <button (click)='edit(dayEvent)'>Edit</button></td>
                  </tr>
            </tbody> 
        </table>

    </div>
</div>