<div class="container">
    <div>
        <!-- Dodawanie wydarzenia - pole obecne w kazdym dniu takie samo -->
        <input type='time' class="inputs" [(ngModel)]="newEvent.hour" ><input type='text' class="inputs" [(ngModel)]="newEvent.content" ><button (click)='addEvent()'class="inputs">Add event</button>
    </div><br>


    <div>
        <!-- Miejsce na zczytanie z API listy wydarzeń dla tego dnia - pole aktualizowane w zaleznosci od dnia, moze komponent nowy -->
        <ol *ngIf='showEvents()' style="list-style-type: none">
            <li *ngFor="let dayEvent of dayEvents">
                {{dayEvent.hour}} - {{dayEvent.content}}
            </li>
        </ol>
    </div>
</div>