.container {
  padding: 5px;
}

.container div input {
  margin-left: 5px;
  border: 0.5px solid #ff5370;
}

.container .inputs button {
  margin-left: 5px;
  border: 0.5px solid #ff5370;
  background-color: #ffdfe4;
}

.container .hoursAndEvents button {
  border: 0.5px solid #ff5370;
  background-color: white;
}
